Package: com.repobvn.DepthsThemeRootless
Version: 2.0
Depends: mobilesubstrate
Section: Theme Rootless
Maintainer: Repo BVN
Architecture: iphoneos-arm64
Name: Depths Theme (Rootless)
Author: Polyphian
Description: Chủ đề giống như 3D có thể tùy chỉnh cao.Yêu cầu cài Snowboard hoặc Itheme để sử dụng,hỗ trợ Ios 15-16.4

